
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container-fluid {
    background-image: url('IMG_Resources/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}
