/* ######################################################################################################################################## */
/* ####################################################### VPANDA | VEZYY | CSS ########################################################### */
/* ######################################################################################################################################## */

/* ####################################################### MENU/NAVIGATION ########################################################### */

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 1em;
    opacity: 0.3;
    transition: 0.5s ease-in-out;
}

nav:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
}

img-nav {
    width: 1em;
    height: 1em;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: color 0.3s;
    font-size: 1em;
}

nav .menu-items a {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    transition: 0.3s;
    display: flex;
    align-items: center;
    width: 8em;
}

nav .menu-items a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu a:hover {
    color: #ff0000;
    transform: scale(1.05);
    border-radius: 50%;
}

.menu-items {
    display: flex;
}

.menu .toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu .toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.menu-items.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}

.menu-items.active a {
    padding: 15px 20px;
}

/* ####################################################### COOKIES ########################################################### */

.cookie-notification {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(42, 25, 119);
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 10000;
    border-top: 2px solid rgb(52, 13, 226);
}

.cookie-notification p {
    margin: 0;
    padding: 0;
    display: inline;
}

.cookie-notification a {
    color: #4CAF50;
    text-decoration: underline;
}

.accept-cookies {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.accept-cookies:hover {
    background-color: #45a049;
}

/* ####################################################### BACK TO TOP BUTTON ########################################################### */

.back-to-top {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    visibility: hidden;
}

.back-to-top:hover {
    background-color: #0056b3;
}

/* ####################################################### ANIMATIONS ########################################################### */

.pulsetext {
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.navlogo-rotate {
    animation: sway 2s ease-in-out infinite;
    border-radius: 100%;
    width: 6em;
    height: 6em;
    margin: 0.5em;
}

@keyframes sway {

    0%,
    100% {
        transform: rotate(5deg);
        background-color: rgb(27, 27, 27);
    }

    50% {
        transform: rotate(-5deg);
        background-color: black;
    }
}


@keyframes loading {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        border-radius: 25%;
        border: 3px solid white;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 10px rgb(255, 253, 253);
        box-shadow: 0 0 200px 10px rgba(238, 0, 0, 0.397);
        box-shadow: 0 0 400px 10px rgb(238, 0, 0);
        border-radius: 25%;
        border: 6px solid red;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        border-radius: 25%;
        border: 3px solid white;
    }
}

/* ####################################################### MAIN PAGE GIF BACKGROUND ########################################################### */

.Main-Background {
    border-bottom: 3px solid white;
    width: 100%;
}

/* ####################################################### LINE ########################################################### */

.line {
    width: calc(100% - 1%);
    border: 3px solid white;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ####################################################### VPANDA LOGOS ########################################################### */

.VPanda-Logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.VPanda-Logos img {
    display: inline-block;
    margin: 10px;
}

/* ####################################################### VEZYY ########################################################### */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(223, 22, 22);
    background: linear-gradient(90deg, rgba(223, 22, 22, 0.8575805322128851) 0%, rgba(14, 14, 91, 1) 42%, rgba(15, 14, 96, 1) 64%, rgba(8, 0, 255, 1) 100%);
    margin: 0;
    padding: 0;
    flex-direction: column;
    color: white;
}

.Main-BG-Gif {
    width: 100%;
    height: 60em;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 2rem;
    text-align: center;
    text-shadow: rgb(4, 0, 255) 10px 0 15px;
}

h1 {
    transition: ease-in-out 0.25s;
}

h1:hover {
    transform: scale(1.05);
}

.Main-Categories {
    color: white;
    margin-top: 2em;
    font-size: 2em
}

.Main-Categories:hover {
    transform: none;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    text-shadow: 2px 2px 3px rgb(47, 0, 255), 0 0 1em rgb(104, 104, 104), 0 0 0.1em rgb(0, 0, 0);
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

.tile {
    width: 500px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}

.tile:hover {
    transform: scale(1.05);
    background-color: #003fb3;
    cursor: pointer;
}

.Socials {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.tile span {
    margin-top: 10px;
}

.Smaller2 {
    transform: rotate(180deg);
}

/* ####################################################### VEZYY ABOUT ME ########################################################### */

.about-me {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
}

.about-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: #007BFF;
    text-shadow: 3px 0 3px rgb(255, 255, 255);
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 25%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 4px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    color: yellow;
    font-size: 1.5rem;
}

.profile-description {
    text-align: center;
}

.interests-section,
.activities-section {
    margin-bottom: 30px;
}

.interests-section h3,
.activities-section h3 {
    margin-bottom: 10px;
}

.section-title-MAIN-TITLE {
    color: #ff0000;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 3em;
}

.section-title-MAIN-TITLE:hover {
    transform: none;
}

.section-title {
    color: #007BFF;
    margin-bottom: 10px;
    width: 100%;
}

.section-content {
    margin-left: 20px;
}

.section-list {
    color: rgb(255, 0, 0);
    text-shadow: none;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.content {
    width: 100%;
    max-width: 800px;
    background-color: #1a1a1a;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}

.logo {
    width: 300px;
    height: auto;
    animation: loading 1s ease-in-out infinite;
}

.line {
    height: 2px;
    background-color: white;
    margin: 20px 0;
}

.pulsetext h2 {
    animation: pulse 2s infinite;
}

/* ####################################################### Social Media ########################################################### */

.social-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: rgb(255, 0, 0) 10px 0 15px;
}

/* ####################################################### ERROR ########################################################### */

.ERROR {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

/* ####################################################### MEDIA/PHONES ########################################################### */

@media (max-width: 1600px) {
    .Main-BG-Gif {
        width: 100%;
        height: 45em;
    }

    .VPanda-Logos img {
        max-width: 20em;
        max-height: 20em;
    }

    nav .menu-items a {
        font-size: 0.8em;
        width: 8em;
    }
}

@media (max-width: 1200px) {
    .Main-BG-Gif {
        width: 100%;
        height: 30em;
    }

    .VPanda-Logos img {
        max-width: 15em;
        max-height: 15em;
    }

    .cookie-notification {
        width: 98%;
    }

    nav .menu-items a {
        font-size: 0.7em;
        width: 8em;
    }
}

@media (max-width: 1100px) {
    .menu-items {
        display: none;
    }

    nav {
        opacity: 1;
    }

    nav .menu-items a {
        width: 100%;
    }

    .menu .toggle {
        display: block;
        cursor: pointer;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .menu .toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s;
        background-color: white;
    }

    .menu a:hover {
        transform: none;
        border-radius: 0%;
    }

}


@media (max-width: 768px) {
    .menu-items {
        display: none;
    }

    nav {
        opacity: 1;
    }

    nav .menu-items a {
        width: 100%;
    }

    .menu .toggle {
        display: block;
        cursor: pointer;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .menu .toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s;
        background-color: white;
    }

    .menu a:hover {
        transform: none;
        border-radius: 0%;
    }

    .tile {
        width: calc(50% - 20px);
    }

    .VPanda-Logos img {
        max-width: 10em;
        max-height: 10em;
    }

    .header {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: rgb(4, 0, 255) 10px 0 15px;
    }

    .line {
        width: calc(100% - 5%);
        border: 3px solid white;
        border-radius: 50%;
    }

    .social-header {
        font-size: 1em;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: rgb(255, 0, 0) 10px 0 15px;
    }


    .ERROR {
        color: rgb(255, 255, 255);
        font-family: "Space Grotesk", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        text-shadow: 1px 0 10px rgb(255, 0, 0);
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
    }

    .Main-BG-Gif {
        width: 100%;
        height: 25em;
    }

    .back-to-top {
        margin: 20px 0;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        visibility: visible;
    }

    .cookie-notification {
        width: 95%;
    }
}

@media (max-width: 668px) {
    .tile {
        width: calc(100% - 20px);
        height: 13em;
    }

    .VPanda-Logos img {
        max-width: 7em;
        max-height: 7em;
    }

    .header {
        font-size: 1em;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: rgb(4, 0, 255) 10px 0 15px;
    }

    .line {
        width: calc(100% - 5%);
        border: 3px solid white;
        border-radius: 50%;
    }

    .social-header {
        font-size: 1em;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: rgb(255, 0, 0) 10px 0 15px;
    }

    .ERROR {
        color: rgb(255, 255, 255);
        font-family: "Space Grotesk", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        text-shadow: 1px 0 10px rgb(255, 0, 0);
    }

    .Main-BG-Gif {
        width: 100%;
        height: 22em;
    }

    .back-to-top {
        margin: 20px 0;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        visibility: visible;
    }

    .cookie-notification {
        width: 95%;
    }

    .discord-profile {
        width: 86%;
    }
}

@media (max-width: 568px) {

    .Main-BG-Gif {
        width: 100%;
        height: 16em;
    }

    .cookie-notification {
        width: 95%;
    }

    .discord-profile {
        width: 82%;
    }

}

/* ####################################################### FOOTER ########################################################### */

.footer {
    background-color: #131212;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #007BFF;
}

.footer-section p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-section ul li a:hover {
    color: #007BFF;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.8rem;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.img-technologies {
    width: 10em;
    height: 10em;
}

/* ####################################################### Technologies ########################################################### */

.Socials {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.tile-container-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    text-shadow: 2px 2px 3px rgb(47, 0, 255), 0 0 1em rgb(104, 104, 104), 0 0 0.1em rgb(0, 0, 0);
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

/* ####################################################### Privacy Policy ########################################################### */

.section-content-privacy {
    margin-left: 20px;
    text-align: center;
    width: 100%;
}

.section-title-privacy {
    color: #007BFF;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* ####################################################### Source and license ########################################################### */

.sources-container {
    padding: 2em;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 2.5em;
}

/* ####################################################### CONTACT ########################################################### */

.discord-profile {
    max-width: 60em;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    color: #fff;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    text-align: center;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid white;
}

.profile-body .add-me {
    display: block;
    margin: 20px auto;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    font-size: 24px;
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
    font-size: 18px;
}

.profile-body {
    padding: 10px;
}

.profile-body h3 {
    font-size: 20px;
    margin-top: 15px;
}

.profile-body p {
    margin-top: 5px;
    font-size: 16px;
}

.profile-body ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.profile-body ul li {
    margin-bottom: 5px;
}

.profile-body ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.profile-body ul li a:hover {
    text-decoration: underline;
}

.discord-link {
    text-align: center;
    display: inline-block;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.discord-link a {
    text-decoration: none;
}

.discord-link img {
    display: block;
    margin: 0 auto;
}

.discord-link p {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    margin: 10px 0;
}

/* ####################################################### Projects ########################################################### */

.Project-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: black;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.Project-box {
    width: 30%;
    height: 25em;
    background-color: #007BFF;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1em;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Project-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.Name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.Date {
    font-size: 0.8em;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.Descryption {
    font-size: 1em;
    color: #f0f0f0;
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.ReadMore {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.Project-box:hover .ReadMore {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.Project-box:hover .Descryption,
.Project-box:hover .Name,
.Project-box:hover .Date {
    opacity: 0.5;
}

@media (max-width: 1300px) {
    .Project-Container {
        flex-direction: column;
        border: 3px solid white;
    }

    .Project-box {
        width: 70%;
        height: 20em;
    }
}

@media (max-width: 1000px) {
    .Project-Container {
        flex-direction: column;
        border: 3px solid white;
    }

    .Project-box {
        width: 60%;
        height: 20em;
    }
}

@media (max-width: 768px) {
    .Project-Container {
        flex-direction: column;
        border: 3px solid white;
    }

    .Project-box {
        width: 20em;
        height: 20em;
    }
}